<div class="row">
    <h1 class="large-12 columns title-site">
        Slidenáculous
    </h1>
    <form ng-submit="load()" class="search-form large-6 large-centered columns">
        <div class="large-10 columns">
            <label><input type="search" ng-model="query"></label>
        </div>
        <button type="submit" class="button large-2 columns"><i class="fa fa-search"></i></button>
    </form>
</div>