<div class="row">
    <form ng-submit="load()" class="large-12 columns">
        <div class="large-10 columns">
            <label><input type="search" ng-model="query"></label>
        </div>
        <button type="submit" class="button large-2 columns">O</button>
    </form>
    <div ng-if="musics && !slides" class="large-12 columns">
        <div ng-repeat="music in musics" class="large-6 columns">
            <a ng-click="initSlide(music)">
                {{music.title}} <small>{{music.band}}</small>
            </a>
        </div>
    </div>
    <div class="large-12 columns" ng-if="!musics && slides">
        <div ng-repeat="slide in slides" class="large-12 columns">
            <span ng-bind-html="slide"></span>
            <hr>
        </div>
    </div>
</div>